%logo {
  font-family: $font-family-logo;
  transition: $color-transition-primary;

  &:hover,
  &:active,
  &:focus {
    color: $text-color-blue-gray-500;
  }

  &--header {
    padding: 5px 8px;

    color: $text-color-logo-header;
    font-size: $font-size-xl;
    line-height: $line-height-m;

    @media screen and (min-width: $tablet) {
      font-size: $font-size-logo-header;
      line-height: $line-height-logo;
    }
  }

  &--footer {
    color: $text-color-white;
    align-self: center;

    @media screen and (min-width: $tablet) {
      font-size: $font-size-logo-footer;
      line-height: $line-height-logo;
      align-self: flex-end;
    }
  }
}
