.header {
  padding: 8px 0;

  background-color: $bg-color-secondary;
  box-shadow: 0px 2px 15px 0px rgba(73, 73, 90, 0.28);
  z-index: 1;
  font-size: $font-size-m;
  line-height: $line-height-m;

  @media screen and (min-width: $tablet) {
    font-size: $font-size-l;
    line-height: $line-height-m;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    @extend %logo;
    @extend %logo--header;
  }

  .navigation {
    @extend %navigation;
  }
}
