.header {
  padding: 8px 0;

  background-color: $bg-color-secondary;
  box-shadow: 0px 2px 15px 0px rgba(73, 73, 90, 0.28);
  z-index: 1;
  font-size: $font-size-m;
  line-height: $line-height-m;

  @media screen and (min-width: $tablet) {
    font-size: $font-size-l;
    line-height: $line-height-m;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    @extend %logo;
    @extend %logo--header;
  }

  .navigation {
    @extend %navigation;
  }

  .cart {
    position: relative;
    padding: 13.5px !important;
    display: inline-block;

    &--active {
      background-color: $bg-color-accent-dark;
      border-radius: 8px;
    }
    &__counter {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $bg-color-tertiary;
      color: $bg-color-secondary;
      font-family: Source Sans Pro;
      font-size: $font-size-xxs;
      font-weight: $font-weight-semi;
      line-height: $line-height-xxs;
      text-align: center;
      border-radius: 50%;
      height: 24px;
      width: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(25%) translateY(25%);
    }
  }
}
