.footer {
  background-color: $bg-color-secondary;
  color: $text-color-blue-gray-500;
  padding: 24px 0;

  @media screen and (min-width: $tablet) {
    padding: 40px 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 88px 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: space-around;
      gap: 0;
    }
  }

  .logo {
    @extend %logo;
    @extend %logo--footer;
  }
}
