.product-card {
  padding: 4px 8px;
  background: $bg-color-quaternary;
  border-radius: 8px;
  overflow: hidden;

  @media screen and (min-width: $desktop) {
    padding: 8px;
  }

  &__main {
    @media screen and (max-width: $desktop) {
      display: flex;
      gap: 16px;
      padding-bottom: 8px;
    }

    .image {
      border-radius: 8px;
      background: lightgray 50%;
      overflow: hidden;
      width: 119px;
      height: 150px;

      @media screen and (min-width: $desktop) {
        width: 484px;
        height: 216px;
        margin-bottom: 8px;
      }

      img {
        object-fit: cover;
        object-position: right;
        width: 100%;
        height: 100%;
      }
    }

    .content-wrapper {
      flex: 1;
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-width: $desktop) {
        padding: 0 8px;
        margin-bottom: 8px;
      }

      &__text {
        color: $text-color-secondary;
        font-size: 22px;
        font-weight: $font-weight-semi;
        line-height: $line-height-s;

        @media screen and (min-width: $desktop) {
          font-size: $font-size-m;
          line-height: $line-height-m;
        }
      }

      &__btn {
        display: flex;
        align-items: center;
        svg {
          fill: $text-color-blue-gray-500;
        }
      }
    }

    .available {
      color: $text-color-blue-gray-500;
      font-size: $font-size-xs;
      font-weight: $font-weight-regular;
      line-height: $line-height-s;
      letter-spacing: $letter-spacing-s;

      display: flex;
      flex-direction: column;

      margin-bottom: 12px;

      @media screen and (min-width: $desktop) {
        flex-direction: row;
        gap: 8px;
        align-items: baseline;
        padding: 0 8px;
        margin-bottom: 16px;

        color: $text-color-blue-gray-600;
        line-height: $line-height-xs;
      }

      &__date {
        color: $text-color-grey-400;
        font-size: $font-size-s;
        font-weight: $font-weight-semi;
        line-height: $line-height-s;
        letter-spacing: $letter-spacing-m;
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      @media screen and (min-width: $desktop) {
        align-items: last baseline;
        margin-bottom: 18px;
      }

      &__left {
        color: $text-color-primary;
        font-size: $font-size-s;
        font-weight: $font-weight-regular;
        line-height: $line-height-s;

        @media screen and (min-width: $desktop) {
          line-height: 20px;
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        .location,
        .respond {
          display: flex;
          align-items: center;
          gap: 8px;

          .icon {
            fill: $text-color-blue-gray-500;
          }
        }
      }

      &__right {
        @media screen and (min-width: $desktop) {
          display: flex;
          align-items: baseline;
        }

        .min-price {
          color: $text-color-blue-gray-500;
          font-size: 22px;
          font-weight: $font-weight-bold;
          line-height: $line-height-s;

          @media screen and (min-width: $desktop) {
            font-size: $font-size-l;
            line-height: $line-height-m;
          }
        }

        .sub {
          color: #b7b7bd;
          font-size: $font-size-s;
          font-style: normal;
          font-weight: $font-weight-semi;
          line-height: $line-height-xs;

          @media screen and (min-width: $desktop) {
            color: $text-color-blue-gray-600;
            font-weight: $font-weight-regular;
            line-height: 28px;

            &::before {
              content: '\00a0/ ';
            }
          }
        }
      }
    }
  }

  &__footer {
    .sides {
      display: flex;
      justify-content: space-between;
      @media screen and (min-width: $desktop) {
        align-items: end;
        margin-bottom: 12px;
      }

      &__left {
        .details {
          &__rate {
            color: $text-color-primary;
            font-size: $font-size-m;
            font-weight: $font-weight-semi;
            line-height: 28px;

            @media screen and (min-width: $desktop) {
              color: $text-color-blue-500;
              font-size: $font-size-s;
              line-height: $line-height-xs;
              margin-bottom: 12px;
            }
          }

          &__more {
            color: $text-color-blue-400;
            font-size: 15px;
            font-weight: $font-weight-regular;
            line-height: $line-height-s;
            letter-spacing: 0.3px;

            text-decoration: underline;

            @media screen and (min-width: $desktop) {
              font-size: $font-size-xs;
              line-height: $line-height-xs;
              letter-spacing: $letter-spacing-s;
            }
          }

          .quantity {
            svg {
              fill: #ffae11;
              @media screen and (min-width: $desktop) {
                display: none;
              }
            }
          }
        }
      }

      &__right {
        .btn {
          color: $text-color-blue-500;
          text-align: center;
          font-size: $font-size-m;
          font-weight: $font-weight-semi;
          line-height: $line-height-s;

          padding: 12px 24px;
          border-radius: 32px;
          border: 1px solid $text-color-blue-500;
          background: $bg-color-tertiary;

          @media screen and (min-width: $desktop) {
            padding: 8px 24px;
            border-radius: 8px;
            background: $bg-color-accent-dark;
            box-shadow: 0px 4px 16px 0px rgba(36, 36, 44, 0.2);
            border: none;

            color: $text-color-btn;
            font-size: $font-size-s;
            line-height: $line-height-m;
          }
        }
      }
    }
  }
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 16px;

  @media screen and (min-width: $tablet) {
    row-gap: 16px;
  }

  &__item {
    flex: 1;
    min-width: 400px;
    max-width: 425px;

    @media screen and (min-width: $desktop) {
      width: 502px;
    }
  }
}
