.search {
  padding: 20px 0;
  text-align: center;
  width: 100%;

  .form-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    width: 100%;
  }

  .wrapper {
    flex-grow: 1;
    display: flex;
    gap: 24px;
  }

  .input {
    flex-grow: 1;

    display: inline-flex;
    gap: 8px;
    padding: 16px;

    border-radius: 8px;
    border: 1px solid #e4e8f6;
    background: $bg-color-quaternary;
    box-shadow: 0px 3px 8px 0px rgba(36, 36, 44, 0.03);

    input {
      border: none;
      background-color: transparent;
      width: 100%;

      &:focus-visible {
        outline: none;
        border: none;
      }

      &::placeholder {
        color: $text-color-grey-400;
        line-height: $line-height-l;
      }
    }
  }

  .select {
    appearance: none;
    flex: 1;
    padding: 16px;

    border-radius: 8px;
    border: 1px solid #e4e8f6;
    background: $bg-color-quaternary;
    box-shadow: 0px 3px 8px 0px rgba(36, 36, 44, 0.03);
  }

  .btn {
    padding: 16px 32px;
    color: $text-color-btn;

    text-align: center;
    font-size: $font-size-l;
    font-weight: $font-weight-semi;
    line-height: $line-height-m;

    border-radius: 8px;
    background: $bg-color-accent-dark;
    box-shadow: 0px 4px 16px 0px rgba(36, 36, 44, 0.2);
  }
}

#searchingPanelOpen,
#searchingPanelClose {
  display: none;
}

.searching-btn--open {
  display: none;

  @media screen and (max-width: $tablet) {
    float: right;
    margin-top: 16px;
    margin-right: 32px;

    border-radius: 48px;
    background: #24242c;
    padding: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: #ffffff;
    box-shadow: 0px 5px 18px 0px rgba(36, 36, 44, 0.24);
  }

  .icon {
    fill: inherit;
  }
}

.searching-btn--close {
  display: none;
  @media screen and (max-width: $tablet) {
    align-items: center;
    margin-right: 24px;
  }
}

#searchingPanelOpen:checked ~ * .searching-btn--close {
  display: inline-flex;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

#searchingPanelOpen:checked ~ * .search .container {
  display: flex;
}
