.search-results {
  display: flex;
  align-items: baseline;
  gap: 8px;

  padding: 16px 0;
  .title {
    color: $text-color-blue-gray-500;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    letter-spacing: $letter-spacing-s;
  }
  .results {
    display: flex;
    gap: 8px;

    color: $text-color-blue-gray-700;
    font-size: $font-size-s;
    font-weight: $font-weight-semi;
    line-height: $line-height-s;
    letter-spacing: $letter-spacing-m;

    &__quantity {
      &::before {
        content: '(';
      }

      &::after {
        content: ')';
      }
    }
  }
  .product {
    display: flex;
    &__name {
      &::after {
        content: ',\00a0';
      }
    }
  }
}
