$bg-color-primary: #f4f5fb;
$bg-color-secondary: #24242c;
$bg-color-tertiary: #ffffff;
$bg-color-quaternary: #fafafa;

$bg-color-accent-light: #f9f7ff;
$bg-color-accent-dark: #6f6dff;

//

$font-family-primary: 'Source Sans Pro';
$font-family-logo: 'Leckerli One';

//

$font-weight-regular: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;

//

$font-size-xs: 14px;
$font-size-s: 16px;
$font-size-m: 20px;
$font-size-l: 24px;
$font-size-xl: 28px;
$font-size-xxl: 32px;
$font-size-xxxl: 40px;
$font-size-xxxxl: 48px;

$font-size-logo-header: 40px;
$font-size-logo-footer: 56px;

//

$line-height-xs: 20px;
$line-height-s: 24px;
$line-height-m: 32px;
$line-height-l: 40px;
$line-height-xl: 48px;
$line-height-xxl: 56px;
$line-height-xxxl: 64px;

$line-height-logo: 54px;

//

$letter-spacing-s: 0.28px;
$letter-spacing-m: 0.32px;
$letter-spacing-l: 0.4px;

//

$text-color-primary: #363644;
$text-color-secondary: #24242c;
$text-color-tertiary: #1d2a58;

$text-color-btn: #efeff0;
$text-color-btn-header: #f3f2f2;
$text-color-btn-top-search: #3145af;

$text-color-white: #fff;
$text-color-grey-200: #e6e6e6;
$text-color-grey-400: #363644;
$text-color-blue-200: #98a7dd;
$text-color-blue-300: #4b66c3;
$text-color-blue-400: #364ea3;
$text-color-blue-gray-500: #82829b;
$text-color-blue-gray-600: #6d6d88;
$text-color-blue-gray-700: #49495b;
$text-color-blue-gray-800: #202028;

//

$text-color-logo-header: #f6f6f6;

//

$color-transition-primary: color 0.3s ease-out, top 0.3s;
